<div class="navbar  navbar-dark black" >
   <div class="container">
      <strong >E-Website</strong>
      <div class="h-l">
          <ul class="nevigation">
             
              <li class="">
                <a  routerLink="banking" class="nav-link">Banking </a>
              </li>
              <li class="">
                <a  routerLink="emi" class="nav-link">EMI Calculator </a>
              </li>
              <li class="">
                <a  routerLink="credit" class="nav-link">Credit Card </a>
              </li>
              <li class="">
                <a  routerLink="velidation" class="nav-link">From Velidation </a>
              </li>
          </ul>

      </div>
   </div>
</div>





<router-outlet></router-outlet>